<launch>
    <arg name="planner_name"                default="TSHAstar"/>                          <!-- 选用的规划器种类，大小写敏感。 TSHAstar / Astar / RRT / RRTstar / GA-->
    <arg name="input_map_topic"             default="/grid_cost_map/global_occupancy_grid_map"/>  <!-- 输入的代价地图话题 -->
    <arg name="input_goal_topic"            default="/move_base_simple/goal"/>           <!-- 输入的终点话题 -->
    <arg name="output_processed_map_topic"  default="processed_map"/>                    <!-- 输出的处理后的地图 -->
    <arg name="output_path_topic"           default="path"/>                             <!-- 输出最终规划路径 -->
    <arg name="output_auxiliary_info_topic" default="auxiliary_info"/>                   <!-- 输出的各种辅助信息，种类、数量与规划器种类相关 -->
    <arg name="info_flag"                   default="true"/>                             <!-- 是否输出规划器的一系列信息 -->
    <arg name="save_flag"                   default="true"/>                             <!-- 是否保存规划结果到文件 -->
    <arg name="save_dir_path"               default="$(find global_planning)/result"/>   <!-- 保存文件的路径 -->

    <node pkg="global_planning" name="global_planning" type="global_planning" output="screen" >
        <!-- TSHAstar规划器对应的参数 -->
        <rosparam command="load" file="$(find global_planning)/params/TSHAstar_params.yaml" />
        <!-- Astar规划器对应的参数 -->
        <!-- <rosparam command="load" file="$(find global_planning)/params/astar_params.yaml" /> -->
        <!-- RRT规划器对应的参数 -->
        <!-- <rosparam command="load" file="$(find global_planning)/params/rrt_params.yaml" /> -->
        <!-- RRTstar规划器对应的参数 -->
        <!-- <rosparam command="load" file="$(find global_planning)/params/rrtstar_params.yaml" /> -->
        <!-- GA规划器对应的参数 -->
        <!-- <rosparam command="load" file="$(find global_planning)/params/ga_params.yaml" /> -->

        <param name="planner_name"                type="str"    value="$(arg planner_name)"/>
        <param name="input_map_topic"             type="str"    value="$(arg input_map_topic)"/>
        <param name="input_goal_topic"            type="str"    value="$(arg input_goal_topic)"/>
        <param name="output_processed_map_topic"  type="str"    value="$(arg output_processed_map_topic)"/>
        <param name="output_path_topic"           type="str"    value="$(arg output_path_topic)"/>
        <param name="output_auxiliary_info_topic" type="str"    value="$(arg output_auxiliary_info_topic)"/>
        <param name="info_flag"                   type="bool"   value="$(arg info_flag)"/>
        <param name="save_flag"                   type="bool"   value="$(arg save_flag)"/>
        <param name="save_dir_path"               type="str"    value="$(arg save_dir_path)"/>
    </node> 

</launch>